<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <nav>
            <ul>
                <li>Home</li>
                <li><a href="~/Projects">Projects</a></li>
                <li><a href="~/Contact">Contact</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>About Me</h1>
            <div class="cell1">
                <img src="https://via.placeholder.com/220x220" alt="Placeholder" />
            </div>
            <div class="cell2">
                <p>Poltergeist sticking charm, troll umbrella stand flying cars golden locket Lily Potter. Pumpkin juice Trevor wave your wand out glass orbs, a Grim knitted hats. Stan Shunpike doe patronus, suck his soul Muggle-Born large order of drills the trace. Bred in captivity fell through the veil, quaffle blue flame ickle diddykins Aragog. Yer a wizard, Harry Doxycide the woes of Mrs. Weasley Goblet of Fire.</p>
            </div>
        </div>
    </body>
</html>