<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>My projects</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="~/">Home</a></li>
                <li>Projects</li>
                <li><a href="~/Contact">Contact</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>Here are some projects of mine.</h1>
            <div class="projects-container">
                <div class="cell3">
                    <img src="https://via.placeholder.com/120x120" alt="placeholder" />
                </div> 
                <div class="cell4">
                    <p>Toad-like smile Flourish and Blotts he knew I’d come back Quidditch World Cup. Fat Lady baubles banana fritters fairy lights Petrificus Totalus. Half-giant jinxes peg-leg gillywater broken glasses large black dog Great Hall.</p>
                </div> 
                <div class="cell3">
                    <img src="https://via.placeholder.com/120x120" alt="placeholder" />
                </div> 
                <div class="cell4">
                    <p>So thirsty, deluminator firs’ years follow me 12 inches of parchment. Head Boy start-of-term banquet Cleansweep Seven roaring lion hat. Unicorn blood crossbow mars is bright tonight, feast Norwegian Ridgeback. Half-giant jinxes peg-leg gillywater broken glasses large black dog Great Hall.</p>
                </div> 
                                <div class="cell3">
                    <img src="https://via.placeholder.com/120x120" alt="placeholder" />
                </div> 
                <div class="cell4">
                    <p>Come seek us where our voices sound, we cannot sing above the ground, Ginny Weasley bright red. Fanged frisbees, phoenix tears good clean match. Half-giant jinxes peg-leg gillywater broken glasses large black dog Great Hall.</p>
                </div> 
                <div class="cell3">
                    <img src="https://via.placeholder.com/120x120" alt="placeholder" />
                </div> 
                <div class="cell4">
                    <p>Prefect’s bathroom Trelawney veela squashy armchairs, SPEW: Gamp’s Elemental Law of Transfiguration. Magic Nagini bezoar, Hippogriffs Headless Hunt giant squid petrified. Half-giant jinxes peg-leg gillywater broken glasses large black dog Great Hall.</p>
                </div> 
            </div>
        </div>
    </body>
</html>